.pfp-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    background-image: url(/assets/Me.jpeg);
    background-position: center;
    background-size: cover;
    background-position-y: 200px;
    clip-path: circle(50%);
}

body {
    font-family: 'Cormorant Garamond';
    font-weight: 300; 
    justify-content: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: pink; 
    background-color: #171717;
}

.profile {
    margin: 1%;
    padding: 1%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.profile p {
    padding: 10px;
}

.whoami {
    align-items: center; 
    justify-content: center; 
    display: flex;
    flex-direction: column;
}

.education {
    align-items: center; 
    justify-content: center; 
    display: flex;
    flex-direction: column;
}

.experience {
    align-items: center; 
    justify-content: center; 
    display: flex;
    flex-direction: column;
}
