.pfp-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    background-image: url(/assets/Me.jpeg);
    background-position: center;
    background-size: cover;
    background-position-y: 200px;
    clip-path: circle(50%);
}

body {
    font-family: 'Cormorant Garamond';
    font-weight: 300;
    color: deeppink;
    background-color: rgb(196, 206, 207);
    justify-content: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.profile {
    margin: 1%;
    padding: 1%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.profile p {
    padding: 10px;
}
